@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    height: 3vh;
    padding: 15px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
}

.logged {
    display: flex;
    align-items: center;
    gap: 4%;
}

main {
    height: 94vh;
    background-image: url(/img/a380.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 16px;
    min-height: 55px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
  }
  
.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}
  
.button-24:active {
    opacity: .5;
}

.index_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: white;
    background-color: rgb(21, 21, 69);
}

footer p {
    margin: 0;
}